@model Gives.Models.Tag

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}


<div class="col-md-12">
    <h4> Delete Tag</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

<div class="form-group form-responce">
    <input type="submit" value="Delete" class="btn btn-default" />
    <div class="return-back">
        <h3>@Html.ActionLink("Back to List", "Index")</h3>
    </div>
</div>
}
</div>
