
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-section">
    <div class="about-history container">
        <div class="row " style="margin-bottom:40px">
            <div class="col-md-6 ">
                <div class="image-wrapper">
                    <img class="img-responsive" src="~/Uploads/@ViewBag.AboutInfo.Image">
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="about-right" style="padding-top:0px">
                    <div class="about-title">
                        <h4>@ViewBag.AboutInfo.Title</h4>
                    </div>
                    <p class="first">
                        @ViewBag.AboutInfo.Text_First
                    </p>
                    <p class="second">
                        @ViewBag.AboutInfo.Text_Second
                    </p>
                    <p class="second">
                        @ViewBag.AboutInfo.Information
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

